  body{ background-color:
    #A6A611;


    }
       nav{
     max-width: 100%;
     margin: auto;
     background-color: #F2F218;
     font-size: 20px;
     margin-top: 0px;
     font-style: initial;
 }
 .menu-horizontal{
     list-style: none;
     display: flex;
     justify-content: space-around;
 }


 .menu-horizontal > li > a{
     display: block;
     padding: 10px 10px;
     color: rgba(0, 7, 0, 0.795);
     text-decoration: none;
     font-style: initial;
 }

 .menu-horizontal > li:hover{
     background-color: white;
 }

 h1{
  color: black;
  font-style:initial;
  text-align: center;
  font-size: 10ex;
margin-top: 0%;
margin-bottom: 0%;
text-shadow: 5px 5px 5px rgb(208, 222, 18);
}



img{
  text-align: right;
  height:20%;
  width: 20%;
}



h4{
  text-align: center;
}

#parrafo {

font-size: 140%;
text-align:justify;


}

img{
    width:450px;
    height:790px;
    margin-right:15px;
    float: left;
}

.email-contacto{
  color: black;
}
